# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build / temp
build/
dist/

# Raspberry Pi / runtime
*.pid
